```
# Flutter/Dart
.dart_tool/
.packages
flutter_export_environment.sh
*.nib
*.o
*.out
*.part
*.patch
*.pdb
*.pdf
*.pem
*.pgm
*.php
*.pl
*.plist
*.pm
*.png
*.po
*.pot
*.ppm
*.pps
*.ppt
*.properties
*.ps
*.psd
*.pub
*.py
*.pyc
*.pyo
*.pyx
*.qrc
*.qt
*.r
*.rb
*.rc
*.res
*.resx
*.rgs
*.rlib
*.rmeta
*.rpm
*.rs
*.rss
*.rst
*.rtf
*.ru
*.s
*.sass
*.scala
*.scm
*.scss
*.sh
*.sln
*.so
*.sql
*.sqlite
*.sqlite3
*.srt
*.svg
*.swift
*.swp
*.sys
*.tar
*.tar.gz
*.targets
*.tbz
*.tcsh
*.tds
*.tex
*.tfm
*.tgz
*.thrift
*.tif
*.tiff
*.tlb
*.tmp
*.tmx
*.ts
*.tsx
*.ttf
*.txt
*.udf
*.unity
*.url
*.urls
*.vcxproj
*.vdx
*.vml
*.vssettings
*.vtl
*.war
*.wav
*.webm
*.webp
*.wma
*.wmv
*.woff
*.woff2
*.wpd
*.wsgi
*.xaml
*.xap
*.xcodeproj
*.xcworkspace
*.xls
*.xlsx
*.xml
*.xpm
*.xsd
*.xsl
*.yaml
*.yml
*.zip
*.zsh
*.zwc
*.zwc.new
*.zwc.old
*.zwc.tmp
*.zwc~
*.zwc.~
*.zwc..~
*.zwc...~
*.zwc....~
*.zwc.....~
*.zwc......~
*.zwc.......~
*.zwc........~
*.zwc.........~
*.zwc..........~
*.zwc...........~
*.zwc............~
*.zwc.............~
*.zwc..............~
*.zwc...............~
*.zwc................~
*.zwc.................~
*.zwc..................~
*.zwc...................~
*.zwc....................~
*.zwc.....................~
*.zwc......................~
*.zwc.......................~
*.zwc........................~
*.zwc.........................~
*.zwc..........................~
*.zwc...........................~
*.zwc............................~
*.zwc.............................~
*.zwc................................~
*.zwc.................................~
*.zwc..................................~
*.zwc...................................~
*.zwc....................................~
*.zwc.....................................~
*.zwc......................................~
*.zwc.......................................~
*.zwc........................................~
*.zwc.........................................~
*.zwc..........................................~
*.zwc...........................................~
*.zwc............................................~
*.zwc.............................................~
*.zwc..............................................~
*.zwc...............................................~
*.zwc................................................~
*.zwc.................................................~
*.zwc..................................................~
*.zwc...................................................~
*.zwc....................................................~
*.zwc.....................................................~
*.zwc......................................................~
*.zwc.......................................................~
*.zwc........................................................~
*.zwc.........................................................~
*.zwc..........................................................~
*.zwc...........................................................~
*.zwc............................................................~
*.zwc.............................................................~
*.zwc..............................................................~
*.zwc...............................................................~
*.zwc................................................................~
*.zwc.................................................................~
*.zwc..................................................................~
*.zwc...................................................................~
*.zwc....................................................................~
*.zwc.....................................................................~
*.zwc......................................................................~
*.zwc.......................................................................~
*.zwc........................................................................~
*.zwc.........................................................................~
*.zwc..........................................................................~
*.zwc...........................................................................~
*.zwc............................................................................~
*.zwc.............................................................................~
*.zwc..............................................................................~
*.zwc...............................................................................~
*.zwc................................................................................~
*.zwc.................................................................................~
*.zwc..................................................................................~
*.zwc...................................................................................~
*.zwc....................................................................................~
*.zwc.....................................................................................~
*.zwc......................................................................................~
*.zwc.......................................................................................~
*.zwc........................................................................................~
*.zwc.........................................................................................~
*.zwc..........................................................................................~
*.zwc...........................................................................................~
*.zwc............................................................................................~
*.zwc.............................................................................................~
*.zwc..............................................................................................~
*.zwc...............................................................................................~
*.zwc................................................................................................~
*.zwc................................................................................................~*
*.zwc..................................................................................................~
*.zwc...................................................................................................~
*.zwc....................................................................................................~
*.zwc.....................................................................................................~
*.zwc......................................................................................................~
*.zwc.......................................................................................................~
*.zwc........................................................................................................~
*.zwc.........................................................................................................~
*.zwc..........................................................................................................~
*.zwc...........................................................................................................~
*.zwc............................................................................................................~
*.zwc.............................................................................................................~
*.zwc..............................................................................................................~
*.zwc...............................................................................................................~
*.zwc................................................................................................................~
*.zwc.................................................................................................................~
*.zwc..................................................................................................................~
*.zwc...................................................................................................................~
*.zwc....................................................................................................................~
*.zwc.....................................................................................................................~
*.zwc......................................................................................................................~
*.zwc.......................................................................................................................~
*.zwc........................................................................................................................~
*.zwc.........................................................................................................................~
*.zwc..........................................................................................................................~
*.zwc...........................................................................................................................~
*.zwc............................................................................................................................~
*.zwc.............................................................................................................................~
*.zwc..............................................................................................................................~
*.zwc...............................................................................................................................~
*.zwc..............................................................................................................................~

# Android
.gradle/
local.properties
*.keystore
*.jks
*.apk
*.aab
*.so
*.aar

# iOS
Pods/
*.framework
*.xcworkspace
*.xcodeproj

# Build
build/
**/build/

# Dependencies
.pub/
.dart_tool/
packages/

# Environment
.env
.env.local
.env.*
```